* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.Sensor_container {
    display: block;
    min-width: 240px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 2%;
    border: 1px solid black;
}

.text_sensors {
    font-size: 25px;
    text-align: center;
}