.HomePage {
  text-align: center;
  font-family: Arial, sans-serif;
}

.HomePage-header {
  background-color: #282c34 !important;
  padding: 20px;
  color: white !important;
}

.maininfo {
  padding: 20px;
}

section {
  margin: 20px 0;
}

section h2 {
  margin: 2% 0;
}

.footerinfo {
  margin-top: 40px;
  font-size: 0.9em;
}

.section-image {
  width: 100%;
  max-width: 600px; /* Ограничим максимальную ширину */
  height: auto; /* Сохраним пропорции */
  border-radius: 10px; /* Скруглим углы */
}

.action-button {
  background-color: #007bff !important; /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Убираем границу */
  padding: 10px 20px; /* Отступы */
  border-radius: 5px; /* Скругление углов */
  cursor: pointer; /* Курсор при наведении */
  margin-top: 10px; /* Отступ сверху */
}

.action-button:hover {
  background-color: #0056b3 !important; /* Цвет фона при наведении */
}
