version: "3.8"
services:
  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data_container:/data/db

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      MONGODB_URI: mongodb://127.0.0.1:27017/
      JWT_SECRET: your_jwt_secret_key
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      REACT_APP_BACKEND_URL: http://localhost:5000  # Adjust if needed
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: always

volumes:
  mongodb_data_container: