body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-section {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.about-section h1 {
  text-align: center;
  color: #ca9502;
}

.about-section h2 {
  color: #ca9502;
}

.about-section ul {
  list-style-type: disc;
  margin-left: 20px;
}
