* {
  margin: 0 auto;
}

:root {
  --bg-color: #1f2522; /* Цвет фона */
  --text-color: #e6e7e8; /* Цвет текста */
  --accent-color: #6fbf82; /* Акцентный цвет для ссылок */
  --hover-bg-color: rgba(111, 191, 130, 0.1); /* Цвет фона при наведении */
  --header-height: 64px; /* Высота заголовка */
}

.header {
  background-color: var(--bg-color);
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header_cont {
  display: grid;
  grid-template-columns: 0fr 2fr auto;
  align-items: center;
  width: 100%;
}

.Logo {
  display: flex;
  align-items: center;
}

.LogoHeader {
  height: 60px; /* Высота логотипа */
}

.links ul {
  margin: 0 2%;
}

.links ul,
.login_links ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px; /* Отступ между элементами списка */
}

.links a,
.login_links a,
.logout_btn {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 8px; /* Скругление углов */
  transition: background-color 0.3s ease; /* Плавный переход */
}

.links a:hover,
.login_links a:hover,
.logout_btn:hover {
  background-color: var(--hover-bg-color); /* Цвет фона при наведении */
  color: var(--accent-color); /* Цвет текста при наведении */
}

.logout_btn {
  border: none;
  background-color: transparent; /* Убираем фон у кнопки */
  cursor: pointer;
  font-size: 16px; /* Размер шрифта для кнопки выхода */
}

.login_links li {
  display: flex;
  align-items: center;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Изменяем направление на колонку */
    height: auto; /* Автоматическая высота для мобильных устройств */
    padding: 5px; /* Уменьшаем отступы */
  }

  .header_cont {
    grid-template-columns: 1fr; /* Элементы в одну колонку на мобильных */
    text-align: center; /* Центрируем текст */
  }

  .links ul,
  .login_links ul {
    flex-direction: column; /* Элементы списка в колонку */
    gap: 10px;
    width: 100%;
    padding-left: 0;
  }

  .links a,
  .login_links a,
  .logout_btn {
    width: 100%; /* Кнопки занимают всю ширину */
    text-align: center; /* Центрируем текст */
    padding: 15px 0; /* Увеличиваем вертикальные отступы для кнопок */
  }
}

header li a:active {
  animation: li-glow 3s infinite;
}

@keyframes li-glow {
  0% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.9);
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
  }
}
