* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.header {
    margin: 0 auto;
    width: 100%;
    min-width: 960px;
    max-width: 2420px;
    height: auto;
    background-color: #828d7e;
    padding: 10px;
}

.header_cont {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
}

.links ul {
    margin-bottom: 0px;
    display: flex;
    justify-content: center ;
    list-style: none;
    gap: 10px;
}

.links li {
    display: flex;
    gap: 10px;
}

.links li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
    font-weight: bold;
}

.links li:not(:last-of-type)::after {
    content: '|';
    font-size: 20px;
}

.login_links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

.login_links ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.login_links li a {
    text-decoration: none;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
    display: block;
    padding: 8px 16px;
    font-size: 16px;
}

.logout_btn {
    color: white;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid black;
    display: block;
    padding: 8px 16px;
    font-size:  16px;
    cursor: pointer;
}

.logout_btn:hover {
    background-color: white;
    color: black;
    transition: ease-in-out 1.2s;
}

.login_links li a:hover {
    background-color: white;
    color: black;
    transition: ease-in-out 1.2s;
}

.links li a::after {
    content: "";
    border-bottom: 2px solid #e8793e;
    display: block;
    width: 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:  scaleX(0);
}

.links li a:hover:after {
  width: 100%;
  left: 0;
  transition: all .5s linear;
  transform: scaleX(1);
}

.links li a:hover {
    color: rgb(204, 202, 202);
    transition: linear .5s;
}

.LogoHeader {
    display: block;
    width: 100px;
    height: auto;
    margin-left: 50px;

}