html,
body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Задает минимальную высоту 100% от высоты окна */
}

.content {
  flex: 1; /* Заполняет оставшееся пространство */
}
