* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.register {
    display: block;
    min-width: 240px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 2%;
    align-items: center;
}

.register h2 {
    text-align: center;
}

.register form {
    display: flex;
    flex-direction: column;
    
}